@font-face {
  font-family: mm;
  src: url(font/eagle.otf);
}
@font-face {
  font-family: ft;
  src: url(font/poppins.ttf);
}

body {
  margin: 20px;
  color: aliceblue;
  background-color:#000000;
}
h3{
  font-family: mm;
}

.headings{
  font-family: mm;
}

.intro{
  font-family: ft;
  text-align: center;
  width: 100%;
  color: azure;
}

h1{
  width: 100%;
  color: #ff3737;
  text-align: center;
  font-family: mm;
}
.tbz{
  width: 500px;
}
#hiddenTBZ{
  display: none;
}

@media only screen and (max-width: 768px) {
  .tbz{
    width: 80%;
  }
  
}
